<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="utf-8">
		<title>KHABAR | News Magazin Template</title>
		<meta name="description" content="KHABAR | News Magazin Template">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Awesomefont -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- General CSS Settings -->
		<link rel="stylesheet" href="css/general_style.css">
		<!-- Main Style of the template -->
		<link rel="stylesheet" href="css/main_style.css" title="main">
		<!-- Landing Page Style -->
		<link rel="stylesheet" href="css/reset_style.css">
		<!-- Fav Icon -->
		<link rel="shortcut icon" href="favicon.ico">
	</head>
	<body>

		<!-- Wrapper -->
		<div class="lx-wrapper">
			<!-- Loader -->
			<div class="lx-loader">
				<img src="images/ring.svg" alt="Loading" />
				<img src="images/logo.png" alt="alternative title" />
			</div>
			<!-- Color Setting -->
			<div class="lx-settings">
				<i class="fa fa-gear"></i>
				<div class="lx-colors">
					<a href="javascript:;" data-css-link="css/main_style.css"><span class="lx-yellow"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_green.css"><span class="lx-green"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_purple.css"><span class="lx-purple"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_pink.css"><span class="lx-pink"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_blue.css"><span class="lx-blue"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_gray.css"><span class="lx-gray"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_orange.css"><span class="lx-orange"></span></a>
					<a href="javascript:;" data-css-link="css/main_style_red.css"><span class="lx-red"></span></a>
				</div>
			</div>
			<div class="lx-g6-f lx-height-10">
				<!-- Header -->
				<div class="lx-header">
					<!-- Header Mobile Menu Button -->
					<a href="javascript:;">MENU&nbsp;<i class="fa fa-caret-right"></i></a>
					<div class="lx-header-content">
						<div class="lx-header-content-top">
							<!-- Header Search -->
							<div class="lx-header-search">
								<form action="#" method="post" autocomplete="off">
									<label><input type="text" name="keyword" placeholder="Search" /></label>
									<input type="submit" name="submit" value="&#xf002;" class="fa fa-search" />
								</form>
							</div>
							<!-- Header Logo -->
							<div class="lx-header-logo">
								<a ><img src="images/logo.png" alt="alternative title" /></a>
							</div>
							<!-- Header Menu -->
							<div class="lx-header-main-menu">
								<ul>
									<li><a href="/">Đăng Xuất<i class="fa fa-caret-right"></i></a>
									<li><a href="get-dasboad-admin">Vào Trang Dasboard<i class="fa fa-caret-right"></i></a>								
									</li>
									<li><a href="#">SINGLE POST<i class="fa fa-caret-right"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="single-post-hero-fullwidth.html">HERO FULLWIDTH</a></li>
											<li><a href="single-post-sidebar.html">SIDEBAR</a></li>
											<li><a href="single-post-fullwidth.html">NO SIDEBAR</a></li>
											<li><a href="single-post-video.html">VIDEO</a></li>
											<li><a href="single-post-gallery.html">GALLERY</a></li>
										</ul>										
									</li>
									<li><a href="#">Thế Giới<i class="fa fa-caret-right"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu">
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="code-of-ethics.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines.html">Community Guidelines</a></li>
											<li><a href="work-for-us.html">Work for us</a></li>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="tv-schedule.html">TV Schedule</a></li>	
										</ul>	
									</li>
									<li><a href="#">Thể Thao<i class="fa fa-caret-right"></i></a>
										<!-- Header Sub Menu -->
										<ul class="lx-header-sub-menu lx-sub-menu-fullheight">
											<li><a href="#"><img src="images/sport1.jpg" alt="alternative title" /><strong>Wilkinson's advice on winning the England cap</strong></a></li>
											<li><a href="#"><img src="images/sport2.jpg" alt="alternative title" /><strong>2024 Olympics: Budapest to drop bid to host Games</strong></a></li>
											<li><a href="#"><img src="images/sport3.jpg" alt="alternative title" /><strong>New Formula 1 cars will be a 'massive challenge'</strong></a></li>
											<li><a href="#"><img src="images/sport4.jpg" alt="alternative title" /><strong>New Zealand: Ross Taylor becomes country's leading ODI</strong></a></li>
										</ul>	
									</li>
									<li><a href="videos.html">Kinh Doanh</a></li>
									<li><a href="shortcodes.html">Công Nghệ</a></li>
									<li><a href="../rtl/index.html">Giải Trí</a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>
							<!-- Header Date -->
							<div class="lx-header-date">
								<span>Friday, 20<sup>th</sup> February 2017</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="lx-g6-5-f">
				<div class="lx-body">
					<div class="lx-body-content">
						<!-- Main Slide -->
						<div class="lx-main-slide">
							<div class="lx-main-slide-bloc">
								<%  data.forEach(item =>{ %>
								<div class="lx-g2-f">
									<!-- Slide Item -->
									<div class="lx-main-slide-item">
										<div class = "lx-main-slide-item-img">
											<a href='/get-new/<%= item._id %>'><img src = '<%= item.image %>' alt="alternative title" /></a>
										</div>
										<div class="lx-main-slide-item-shadow">
											<div class="lx-main-slide-item-border">
												<div class="lx-main-slide-item-text">
													<h2><a href='/get-new/<%= item._id %>'><%= item.title %></a></h2>
													<span class="lx-main-slide-item-category">Politic</span>
													<span class="lx-main-slide-item-date"><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
											</div>		
										</div>
									</div>
								</div>
								<% }) %>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
						<div class="lx-g1-f">
							<!-- Breaking News -->
							<div class="lx-breaking-news">
								<span>BREAKING NEWS</span>
								<ul>
									<li><a href="#">Sarah Palin 'could be next US ambassador to Canada'</a></li>
									<li><a href="#">Steve Bannon thinks the apocalypse is coming</a></li>
									<li><a href="#">Government 'trying to kill off solar' before it becomes cheapest form of electricity</a></li>
								</ul>
								<div class="lx-clear-fix"></div>
							</div>						
						</div>
						<div class="lx-g3-2-f">
							<!-- Main Content -->
							<div class="lx-body-main-content">
								<!-- News Container -->
								<div class="lx-news-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>WORLD</h2>
									</div>
									<!-- News Container Content -->
									<%  dataNewWorld.forEach(item =>{ %>
									<div class="lx-news-container-content">
										<div class="lx-g2-f">
											<!-- News Item Sticky -->
											<div class="lx-news-item lx-sticky lx-mr-10">
												<div class="lx-news-item-img">
													<a href='/get-new/<%= item._id %>'><img src='<%= item.image %>' alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href='/get-new/<%= item._id %>'><%= item.title %></a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												
												</div>											
											</div>
										</div>
										<div class="lx-clear-fix"></div>
									</div>
									<% }) %>
								</div>
								<!-- News Container -->
								<div class="lx-news-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>SPORT</h2>
									</div>
									<!-- News Container Content -->
									<div class="lx-news-container-content">
											<%  dataNewSport.forEach(item =>{ %>
										<div class="lx-g3-f">
											<!-- News Item Sticky -->
											<div class="lx-news-item lx-sticky lx-mr-13">
												<div class="lx-news-item-img">
													<a href='/get-new/<%= item._id %>'><img src='<%= item.image %>' alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href='/get-new/<%= item._id %>'><%= item.title %></a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												</div>											
											</div>
										</div>
										<% }) %>
										
										
								<!-- News Container -->
								<div class="lx-news-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>HIGH-TECH</h2>
									</div>
									<!-- News Container Content -->
									<div class="lx-news-container-content">
										<div class="lx-g2-f">
											<!-- News Item Sticky -->
											<div class="lx-news-item lx-sticky lx-mr-10">
												<div class="lx-news-item-img">
													<a href="#"><img src="images/tech1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Falling green energy costs 'to stop' fossil fuel growth</a></h3>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												</div>											
											</div>
										</div>
										<div class="lx-g2-f">
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-ml-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/tech2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Science doesn't care if you believe in it or not</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-ml-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/tech3.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Into the wild of Antarctica: Scientists, robots and 'pancake'</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-ml-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/tech4.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Scientists create first human-pig embryos</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-ml-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/tech5.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Trump to blame as doomsday draws closer, scientists say</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-clear-fix"></div>
									</div>
								</div>
								<!-- News Container -->
								<div class="lx-news-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>HEALTH & FOOD</h2>
									</div>
									<!-- News Container Content -->
									<div class="lx-news-container-content">
										<!-- News Item Sticky -->
										<div class="lx-news-item lx-sticky">
											<div class="lx-news-item-img">
												<a href="#"><img src="images/food1.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href="single-post-hero-fullwidth.html">Marinated beaf cutlets with charred veg and mint pesto</a></h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
												<a href="single-post-hero-fullwidth.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-clear-fix"></div>
										<div class="lx-g2-f">
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-mr-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/food2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Steak with Dijon and tarragon sauce</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-mr-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/food3.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Are you ready to reintroduce high foods?</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-g2-f">
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-ml-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/food4.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">The art of growing your own food</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- News Item -->
											<div class="lx-news-item lx-news-item-minimal lx-ml-10">
												<div class="lx-news-item-img lx-width-120">
													<a href="#"><img src="images/food5.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Lamb burgers with kumara fritters and silver beet</a></h3>
													<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-clear-fix"></div>
									</div>
								</div>
								<!-- News Container -->
								<div class="lx-news-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>NEWS IN PICTURES</h2>
									</div>
									<!-- News Container Content -->
									<div class="lx-news-container-content">
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture1.jpg" data-title="Lamb burgers with kumara fritters and silver beet" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture2.jpg" data-title="The art of growing your own food" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture3.jpg" data-title="Are you ready to reintroduce high-FODMAP foods?" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture4.jpg" data-title="Gig economy chiefs defend business model" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture5.jpg" data-title="Trump's 'Muslim ban' is not an exception in US history" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture6.jpg" data-title="Mapping hate: The rise of hate groups in the US" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture7.jpg" data-title="UN envoy not expecting breakthrough in Syria talks" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture8.jpg" data-title="New deal to 'boost trade by $1 trillion'" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture9.jpg" data-title="Fed may raise rates 'fairly soon'" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-g5-f">
											<!-- News Item -->
											<div class="lx-news-item lx-picture-news lx-mb-20">
												<div class="lx-news-item-img">
													<a href="javascript:;"><img src="images/picture10.jpg" data-title="Are you ready to reintroduce high-FODMAP foods?" data-descr="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore..." alt="alternative title" /></a>
												</div>
											</div>
										</div>
										<div class="lx-clear-fix"></div>
									</div>
								</div>
								<!-- News Container -->
								<div class="lx-news-container">
									<!-- News Container Title -->
									<div class="lx-news-container-title">
										<h2>BUSINESS</h2>
									</div>
									<!-- News Container Content -->
									
									<%  dataNewBusiness.forEach(item =>{ %>
									<div class="lx-news-container-content">
										<!-- News Item Sticky -->
										
										<!-- News Item -->
										<div class="lx-news-item lx-news-item-classic">
											<div class="lx-news-item-img lx-width-40per">
													<a href='/get-new/<%= item._id %>'><img src = '<%= item.image %>' alt="alternative title" /></a>
											</div>
											<div class="lx-news-item-text">
												<h3><a href='/get-new/<%= item._id %>'><%= item.title %></a></h3>
												<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, consectetur adipiscing elit sit amet. consectetur adipiscing...</p>
												<a href="single-post-hero-fullwidth.html">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
												<span><i class="fa fa-clock-o"></i>&nbsp;09 Feb 2017 15:58</span> -->
											</div>											
											<div class="lx-clear-fix"></div>
										</div>
										<!-- News Item -->
										
									</div>
									<% })  %>
								</div>	
							</div>
						</div>
						<div class="lx-g3-f">
							<!-- Side Bar -->
							<div class="lx-sidebar">
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>NEWS</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Tabs Nav -->
										<div class="lx-tab-nav">
											<ul>
												<li><a href="javascript:;" class="active">Popular</a></li>
												<li><a href="javascript:;">Recent</a></li>
											</ul>
										</div>
										<div class="lx-clear-fix"></div>
										<!-- Tabs Items -->
										<div class="lx-latest-news lx-tab lx-main-tab">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/world5.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Is this really how fascism takes hold in the US?</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/world6.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">2024 Olympics: Budapest to drop bid to host Games</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Vardy away goal keeps Leicester in Sevilla tie</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text">
													<h3><a href="single-post-hero-fullwidth.html">Into the wild of Antarctica: Scientists, robots and 'pancake'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
										<div class="lx-latest-news lx-tab">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport3.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">Scientists create first human-pig embryos</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport4.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">Lamb burgers with kumara fritters and silver beet</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport5.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">New deal to 'boost trade by $1 trillion'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-90">
													<a href="#"><img src="images/sport6.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">Gig economy chiefs defend business model</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Side Bar Search -->
										<div class="lx-sidebar-search">
											<form action="#" method="post">
												<input type="text" name="s" placeholder="Type something ..." />
												<input type="submit" name="submit" value="&#xf002;" class="fa fa-search" />
												<div class="lx-clear-fix"></div>
											</form>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>EVENT</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Side Bar Event -->
										<div class="lx-event">
											<div class="lx-event-img">
												<a href="#"><img src="images/pers-pic2.jpg" alt="alternative title" /></a>
											</div>
											<div class="lx-event-text">
												<h3>
													<a href="#">New Formula 1 cars will be a 'massive challenge'</a>
												</h3>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>OPINION</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Latest News -->
										<div class="lx-latest-news">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth.html">Fed may raise rates 'fairly soon'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic2.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth.html">Are you ready to reintroduce high-FODMAP foods?</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic3.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth.html">Marinated beaf cutlets with charred veg and mint pesto</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-70 lx-fr">
													<a href="#"><img src="images/pers-pic1.jpg" alt="alternative title" /></a>
												</div>
												<div class="lx-latest-news-item-text lx-mr-10">
													<h3><a href="single-post-hero-fullwidth.html">Trump to blame as doomsday draws closer, scientists say</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>SOCIAL MEDIA</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Side Bar Social Media -->
										<div class="lx-sidebar-social-media">
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-facebook">
												<i class="fa fa-facebook"></i>
												<h3>JOIN US ON FACEBOOK</h3>
												<a href="#">@khabar</a>
											</div>
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-twitter">
												<i class="fa fa-twitter"></i>
												<h3>FOLLOW US ON TWITTER</h3>
												<a href="#">@khabar</a>
											</div>
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-instagram">
												<i class="fa fa-instagram"></i>
												<h3>FOLLOW US ON INSTAGRAM</h3>
												<a href="#">@khabar</a>
											</div>
											<!-- Side Bar Social Media Item -->
											<div class="lx-sidebar-social-media-item lx-youtube">
												<i class="fa fa-youtube"></i>
												<h3>STAY TUNE ON YOUTUBE</h3>
												<a href="#">@khabar</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>WEATHER</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Side Bar Weather -->
										<div class="lx-weather">
											<div class="lx-weather-main">
												<h3>CASABLANCA</h3>
												<div class="lx-weather-icon-deg">
													<i class="fa fa-sun-o"></i>
													<strong>23<sup>c</sup></strong>
												</div>
												<div class="lx-weather-text">
													<strong>Sunny</strong>
													<p>humidity: 10%</p>
													<p>wind: 1km/h NW</p>
												</div>
											</div>
											<div class="lx-weather-days">
												<ul>
													<li><strong>24<sup>c</sup></strong><br /><span>MON</span></li>
													<li><strong>20<sup>c</sup></strong><br /><span>TUE</span></li>
													<li><strong>21<sup>c</sup></strong><br /><span>WED</span></li>
													<li><strong>22<sup>c</sup></strong><br /><span>THU</span></li>
													<li><strong>25<sup>c</sup></strong><br /><span>FRI</span></li>
													<li><strong>30<sup>c</sup></strong><br /><span>SAT</span></li>
												</ul>
											</div>
											<div class="lx-clear-fix"></div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>PICTURES OF THE WEEK</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content lx-p-0">
										<!-- Mini Side -->
										<div class="lx-mini-slide">
											<!-- Mini Side Nav -->
											<div class="lx-mini-slide-nav">
												<i class="fa fa-angle-left"></i>
												<i class="fa fa-angle-right"></i>
											</div>
											<!-- Mini Side Items -->
											<ul>
												<li><a href="#"><img src="images/picture1.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/picture2.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/picture3.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/picture4.jpg" alt="alternative title" /></a></li>
												<li><a href="#"><img src="images/picture5.jpg" alt="alternative title" /></a></li>
											</ul>
											<div class="lx-clear-fix"></div>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>TIMELINE NEWS</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Timeline News -->
										<div class="lx-timeline-news">
											<ul>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth.html">Falling green energy costs 'to stop' fossil fuel growth</a></h3>
												</li>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth.html">Science doesn't care if you believe in it or not</a></h3>
												</li>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth.html">'India away is toughest task in world cricket'</a></h3>
												</li>
												<li>
													<span>09 Feb 2017 15:58</span>
													<h3><a href="single-post-hero-fullwidth.html">Aljaz Bedene: Briton knocked out in second round in Marseille</a></h3>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Side Bar Item -->
								<div class="lx-sidebar-item">
									<!-- Side Bar Item Title -->
									<div class="lx-sidebar-item-title">
										<h2>WATCH</h2>
									</div>
									<!-- Side Bar Item Content -->
									<div class="lx-sidebar-item-content">
										<!-- Latest News -->
										<div class="lx-latest-news">
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/world1.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">New Formula 1 cars will be a 'massive challenge'</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/world2.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">UN envoy not expecting breakthrough in Syria talks</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/world3.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">Mapping hate: The rise of hate groups in the US</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
											<!-- Latest News Item -->
											<div class="lx-latest-news-item">
												<div class="lx-latest-news-item-img lx-width-120">
													<a href="#"><img src="images/world4.jpg" alt="alternative title" /></a>
													<i class="fa fa-youtube-play"></i>
												</div>
												<div class="lx-latest-news-item-text lx-ml-10">
													<h3><a href="single-post-hero-fullwidth.html">Trump's 'Muslim ban' is not an exception in US history</a></h3>
												</div>
												<div class="lx-clear-fix"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="lx-clear-fix"></div>
					<!-- Footer -->
					<div class="lx-footer">
						<!-- Footer Content -->
						<div class="lx-footer-content">
							<!-- Footer Content Top -->
							<div class="lx-footer-content-top">
								<!-- Footer Newsletter -->
								<div class="lx-footer-newsletter">
									<form action="#" method="post">
										<label for="email">Subscribe to our newsletter</label>
										<input type="text" name="email" id="email" placeholder="Your email ..." />
										<input type="submit" name="submit" value="SUBSCRIBE" />
									</form>
								</div>
								<!-- Footer Social Media -->
								<div class="lx-footer-social-media">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>									
								</div>
								<div class="lx-clear-fix"></div>
							</div>
							<!-- Footer Bottom -->
							<div class="lx-footer-content-bottom">
								<div class="lx-g3-f">
									<!-- Footer Copyrights -->
									<div class="lx-footer-copyrights">
										<img src="images/logo.png" alt="alternative title" />
										<p>© 2017 Khabar Media Network</p>
									</div>									
								</div>
								<div class="lx-g3-f">
									<!-- Footer Links -->
									<div class="lx-footer-links">
										<h2>LINKS</h2>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="code-of-ethics.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines.html">Community Guidelines</a></li>
											<li><a href="work-for-us.html">Work for us</a></li>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="tv-schedule.html">TV Schedule</a></li>											
										</ul>
									</div>
								</div>
								<div class="lx-g3-f">
									<!-- Footer Links -->
									<div class="lx-footer-links">
										<h2>OTHER LINKS</h2>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="code-of-ethics.html">Code of Ethics</a></li>
											<li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
											<li><a href="community-guidelines.html">Community Guidelines</a></li>
											<li><a href="work-for-us.html">Work for us</a></li>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="tv-schedule.html">TV Schedule</a></li>											
										</ul>
									</div>							
								</div>
								<div class="lx-clear-fix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Popup -->
			<div class="lx-popup">
				<a href="javascript:;"><i class="fa fa-remove"></i></a>
				<div class="lx-popup-inside">
					<a href="javascript:;"><i class="fa fa-caret-left"></i></a>
					<a href="javascript:;"><i class="fa fa-caret-right"></i></a>
					<div class="lx-popup-content">
						<div class="lx-popup-image">
							<img src="#" alt="image title here" />
							<span></span>
						</div>
						<div class="lx-popup-details">
							<h2>Some title</h2>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Popup -->	
		</div>
		<!-- End Wrapper -->
		<!-- JQuery -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<!-- Popup -->
		<script src="js/jquery.popup.js"></script>
		<!-- Main Script -->
		<script src="js/script.js"></script>
	</body>
</html>